## Demonstration of Bulk2Space on demo2 dataset

### Import Bulk2Space

In [1]:
from bulk2space import Bulk2Space
model = Bulk2Space()

### Decompose bulk-seq data into scRNA-seq data

Train β-VAE model to generate scRNA-seq data

In [2]:
generate_sc_meta, generate_sc_data = model.train_vae_and_generate(
    input_bulk_path='tutorial/data/example_data/demo2/demo2_bulk.csv',
    input_sc_data_path='tutorial/data/example_data/demo2/demo2_sc_data.csv',
    input_sc_meta_path='tutorial/data/example_data/demo2/demo2_sc_meta.csv',
    input_st_data_path='tutorial/data/example_data/demo2/demo2_st_data.csv',
    input_st_meta_path='tutorial/data/example_data/demo2/demo2_st_meta.csv',
    ratio_num=1,
    top_marker_num=500,
    gpu=0,
    batch_size=512,
    learning_rate=1e-4,
    hidden_size=256,
    epoch_num=20,
    vae_save_dir='tutorial/data/example_data/demo2/predata/save_model',
    vae_save_name='demo2_vae',
    generate_save_dir='tutorial/data/example_data/demo2/predata/output',
    generate_save_name='demo2')

loading data......
load data done!
begin vae training...

Train Epoch: 19: 100%|█| 20/20 [00:02<00:00,  8.51it/s, loss=0.2070, min_lo
generating: 100%|███████████████████| 999/999.0 [00:00<00:00, 27540.60it/s]

min loss = 0.20695747435092926
vae training done!
save trained vae in tutorial/data/example_data/demo2/predata/save_model/demo2_vae.pth.
generating....
generated done!
saving to tutorial/data/example_data/demo2/predata/output/demo2_celltype_pred.csv and tutorial/data/example_data/demo2/predata/output/demo2_data_pred.csv.

In [3]:
generate_sc_meta

      Cell   Cell_type
0      C_1  Inhibitory
1      C_2   OD Mature
2      C_3  Inhibitory
3      C_4  Inhibitory
4      C_5  Excitatory
..     ...         ...
994  C_995  Excitatory
995  C_996  Excitatory
996  C_997  Excitatory
997  C_998  Excitatory
998  C_999  Excitatory

[999 rows x 2 columns]

In [4]:
generate_sc_data

,C_1,C_2,C_3,C_4,C_5,C_6,C_7,C_8,C_9,C_10,...,C_990,C_991,C_992,C_993,C_994,C_995,C_996,C_997,C_998,C_999
A730036I17Rik,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Sqrdl,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Pcdhb15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Irs4,0.229258,0.187985,0.204014,0.152463,0.260207,0.212885,0.105572,0.279374,0.18297,0.253432,...,0.159591,0.251464,0.248961,0.234014,0.227175,0.239612,0.235761,0.250142,0.196212,0.181679
Lmx1b,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Awat1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Snupn,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Abi3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Ift88os,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Zc3hav1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

Load trained β-VAE model to generate scRNA-seq data

In [5]:
generate_sc_meta, generate_sc_data = model.load_vae_and_generate(
    input_bulk_path='tutorial/data/example_data/demo2/demo2_bulk.csv',
    input_sc_data_path='tutorial/data/example_data/demo2/demo2_sc_data.csv',
    input_sc_meta_path='tutorial/data/example_data/demo2/demo2_sc_meta.csv',
    input_st_data_path='tutorial/data/example_data/demo2/demo2_st_data.csv',
    input_st_meta_path='tutorial/data/example_data/demo2/demo2_st_meta.csv',
    vae_load_dir='tutorial/data/example_data/demo2/predata/save_model/demo2_vae.pth',
    generate_save_dir='tutorial/data/example_data/demo2/predata/output', 
    generate_save_name='demo2_new',
    ratio_num=1,
    top_marker_num=500)

loading data......
load data done!

generating:   0%|                                | 0/999.0 [00:00<?, ?it/s]

loading model from tutorial/data/example_data/demo2/predata/save_model/demo2_vae.pth
generating....

generating: 100%|███████████████████| 999/999.0 [00:00<00:00, 27253.81it/s]

generated done!
saving to tutorial/data/example_data/demo2/predata/output/demo2_new_celltype_pred.csv and tutorial/data/example_data/demo2/predata/output/demo2_new_data_pred.csv.
generating done!

### Map image-based spatial transcriptomics data into spatially resolved single-cell transcriptomics data

In [7]:
df_meta, df_data = model.spatial_mapping(
    generate_sc_meta,
    generate_sc_data,
    input_st_data_path='tutorial/data/example_data/demo2/demo2_st_data.csv',
    input_st_meta_path='tutorial/data/example_data/demo2/demo2_st_meta.csv')

start to process image-based st data...
saving to output/meta_map.csv and output/data_map.csv

In [8]:
df_meta

       Cell Cell_type_x  Cell_type_y       xcoord       ycoord
0      ST_1  Inhibitory    OD Mature  1904.113934 -2715.391832
1      ST_2   OD Mature   Inhibitory  1033.948518 -3919.292990
2      ST_3  Inhibitory   Inhibitory   633.561019 -2745.446441
3      ST_4  Inhibitory   Inhibitory   899.133783 -3795.596788
4      ST_5  Inhibitory    Ambiguous  2006.857092 -3715.491887
..      ...         ...          ...          ...          ...
495  ST_496  Inhibitory  Endothelial   852.195454 -2524.622667
496  ST_497  Inhibitory    Ambiguous   568.879625 -3866.576725
497  ST_498  Inhibitory   Excitatory   584.422944 -3062.520069
498  ST_499  Inhibitory  Endothelial  2032.940725 -2579.343161
499  ST_500  Inhibitory    Microglia  1763.950629 -3292.651727

[500 rows x 5 columns]

In [9]:
df_data

,ST_1,ST_2,ST_3,ST_4,ST_5,ST_6,ST_7,ST_8,ST_9,ST_10,...,ST_491,ST_492,ST_493,ST_494,ST_495,ST_496,ST_497,ST_498,ST_499,ST_500
A730036I17Rik,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Sqrdl,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Pcdhb15,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Irs4,0.201062,0.286538,0.211379,0.26738,0.203618,0.189571,0.242153,0.187009,0.259919,0.188122,...,0.245203,0.210806,0.218806,0.281182,0.203533,0.190263,0.191078,0.204066,0.186952,0.186572
Lmx1b,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Awat1,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Snupn,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Abi3,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Ift88os,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Zc3hav1,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000